/* Default styles for small screens and anything not caught by media*/
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
body {
    background-color: lightblue;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Madimi One", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 198, 76);
    border: 5px solid rgb(252, 226, 178);
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: column;
}
h1 {
    display:inline;
    background-color: white;
}


/* .column {
    width: 100%;
} */

/* styled for screens 600px wide and larger */
/* @media screen and (min-width: 600px) { */

@media screen and (width > 600px) {
    body {
        background-color: palegreen;
    }

    header {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    main {
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
    }

    .main_pa {
        padding-left: 1rem;
    }
/* 
    .column {
        float: left;
        width: 33.33%;
    } */

    /* Clear floats after the columns */
    /* .row:after {
        content: "";
        display: table;
        clear: both;
    } */
}